<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>221830677316-j1q8lsbi4rttv7llo08e339fug3hcqc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221830677316-j1q8lsbi4rttv7llo08e339fug3hcqc6</string>
	<key>API_KEY</key>
	<string>AIzaSyA5uxpXn5G4NfqkBmGTMiEGsWqFyfNEN8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>221830677316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IgniteExampleLogin-1</string>
	<key>PROJECT_ID</key>
	<string>enazuc-349e9</string>
	<key>STORAGE_BUCKET</key>
	<string>enazuc-349e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221830677316:ios:ea94de3534855eb1</string>
	<key>DATABASE_URL</key>
	<string>https://enazuc-349e9.firebaseio.com</string>
</dict>
</plist>